<div class="h-svh w-full flex items-stretch overflow-hidden">
	<div class="basis-1/2 bg-primary lg:flex hidden overflow-x-hidden overflow-y-auto p-16 items-end relative">
		<div class="absolute inset-0 overflow-hidden">
			<video
				autoplay
				loop
				muted
				playsinline
				class="object-cover w-full h-full"
				alt="onboarding_video"
			>
				<source src="/themes/custom/cap_alfavarese/video/onboarding_video.mp4" type="video/mp4">
			</video>
		</div>
		<div class="flex flex-col gap-4 max-w-96 mt-auto relative z-10">
			<h1 class="text-white font-semibold text-3xl">
				Gestione dell'acqua semplice e smart per la tua casa o azienda.
			</h1>
			<p class="text-white">
				Accedi o registrati per tenere sotto controllo le tue utenze e monitorare i tuoi consumi.
			</p>
		</div>
	</div>
	<div class="grow flex justify-center overflow-x-hidden overflow-y-auto items-center p-6">
		<div class="w-full max-w-md my-auto">
			<a
				href="{{ path('user.login') }}"
				class="rounded-full h-10 w-10 flex items-center justify-center bg-default mb-11"
			>
				<img
					src="/themes/custom/cap_alfavarese/images/arrow-left.svg"
					alt="arrow-left"
					width="24"
					height="24"
				>
			</a>
			<h2 class="mb-2">
				{{ 'Non riesci ad accedere?' | t }}
			</h2>
			<p class="mb-6">
				{{ "Seleziona un'opzione per continuare." | t }}
			</p>
			<div class="flex flex-col gap-4">
				<a
					href="{{ path('user.pass') }}"
					class="group rounded-lg border hover:ring-1 ring-status-primary-default border-input p-4 hover:bg-status-primary-surface hover:text-primary hover:border-status-primary-default text-body flex items-center gap-3"
				>
					<div class="rounded-full h-12 w-12 flex items-center justify-center bg-default group-hover:bg-status-primary-border group-hover:bg-opacity-50">
						<img
							src="/themes/custom/cap_alfavarese/images/mail.svg"
							alt="mail"
							class="group-hover:hidden"
							width="24"
							height="24"
						>
						<img
							src="/themes/custom/cap_alfavarese/images/mail-duotone.svg"
							alt="mail-duotone"
							class="hidden group-hover:block"
							width="24"
							height="24"
						>
					</div>
					<div class="grow flex flex-col gap-1">
						<div>
							{{ 'Recupera Password' | t }}
						</div>
						<div class="font-normal text-xs">Ripristina la tua password di accesso.</div>
					</div>
				</a>

				<a
					href="{{ path('varese_module.recovery_email') }}"
					class="group rounded-lg border hover:ring-1 ring-status-primary-default border-input p-4 hover:bg-status-primary-surface hover:text-primary hover:border-status-primary-default text-body flex items-center gap-3"
				>
					<div class="rounded-full h-12 w-12 flex items-center justify-center bg-default group-hover:bg-status-primary-border group-hover:bg-opacity-50">
						<img
							src="/themes/custom/cap_alfavarese/images/mail.svg"
							alt="mail"
							class="group-hover:hidden"
							width="24"
							height="24"
						>
						<img
							src="/themes/custom/cap_alfavarese/images/mail-duotone.svg"
							alt="mail-duotone"
							class="hidden group-hover:block"
							width="24"
							height="24"
						>
					</div>
					<div class="grow flex flex-col gap-1">
						<div>
							{{ 'Recupera Email' | t }}
						</div>
						<div class="font-normal text-xs">
							Recupera l'indirizzo email con il quale ti sei registrato.
						</div>
					</div>
				</a>
			</div>

			<p class="mt-8 w-full text-center">
				{{ 'Hai bisogno di aiuto?' | t }}
				<br>
				Contatta la nostra
				<a href="/assistenza">Assistenza Clienti</a>
			</p>
		</div>
	</div>
</div>
