<!DOCTYPE html>
<html lang="it" class="html">

<!-- Basic -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Site Metas -->
<title>{{ head_title|safe_join(' | ') }}</title>
<head-placeholder token="{{ placeholder_token|raw }}">

<meta name="description" content="Cosa vedo - Chiacchiere di Cinema e Serie">
<meta name="keywords" content="Home">
<meta name="google-site-verification" content="eqUDbZrh4ThaRJseL7cGQ5HfBuYOxAOgHAMGzGKN9zM" />
<!-- Site Icons -->
<link rel="shortcut icon" href="/themes/custom/cosa_vedo/images/favicon.ico" type="image/x-icon" />
<link rel="apple-touch-icon" href="images/apple-touch-icon.png">

<!-- Design fonts -->
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

<!-- Bootstrap core CSS -->
<link href="/themes/custom/cosa_vedo/css/bootstrap.css" rel="stylesheet">

<!-- FontAwesome Icons core CSS -->
<link href="/themes/custom/cosa_vedo/css/font-awesome.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/themes/custom/cosa_vedo/css/style.css" rel="stylesheet">

<!-- Responsive styles for this template -->
<link href="/themes/custom/cosa_vedo/css/responsive.css" rel="stylesheet">

<!-- Colors for this template -->
<link href="/themes/custom/cosa_vedo/css/colors.css" rel="stylesheet">

<!-- Version Tech CSS for this template -->
<link href="/themes/custom/cosa_vedo/css/version/tech.css" rel="stylesheet">

<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2334169882538249"
        crossorigin="anonymous"></script>
<style>
  html, body, #wrapper {
    height: 100%;
    margin: 0;
  }
</style>
<script id="usercentrics-cmp" src="https://web.cmp.usercentrics.eu/ui/loader.js" data-settings-id="16QaHnmE4SmIs0" async></script>
</head>
<body>
<div id="wrapper">

  {{ page_top }}
  {{ page }}
  {{ page_bottom }}
</div><!-- end wrapper -->

<!-- Core JavaScript
================================================== -->
<script src="/themes/custom/cosa_vedo/js/jquery.min.js"></script>
<script src="/themes/custom/cosa_vedo/js/tether.min.js"></script>
<script src="/themes/custom/cosa_vedo/js/bootstrap.min.js"></script>
<script src="/themes/custom/cosa_vedo/js/custom.js"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-38RBPD70LG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-38RBPD70LG');
</script>

</body>
</html>
