<section class="h-full">
	<!--
		<div class="top d-flex">
			<div class="logo">
			  <figure>
			    {% set branding = drupal_block('system_branding_block', {use_site_name: false, use_site_slogan: false}, false) %}

			    {% if branding and  branding.content.site_logo %}
			      {% set logo_path = branding.content.site_logo %}
			      <a href="{{ path('<front>') }}" rel="home">
			        <img src="{{ logo_path['#uri'] }}" alt="{{ 'Home'|t }}" fetchpriority="high" />
			      </a>
			    {% endif %}
			  </figure>
			</div>
			<div class="btn btn-aside">
				<span class="icon-chevron-right2x"></span>
			</div>
		</div>
	-->
	<div class="h-full content-scroll-aside flex flex-col justify-between">
		<nav>
			{{ elements.cap_alfavarese_leftsidebarmenu }}
		</nav>
		<nav>
			{{ elements.cap_alfavarese_leftsidebarmenubottom }}
		</nav>
	</div>
</section>
<!--
	{{ elements.cap_alfavarese_aqpleftsidebar }}
	<div class="loader-box">
		<div class="cont-box">
			<span class="loader"></span>
		</div>
	</div>
-->
